<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>灵空的记忆|关于我</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
  <link rel="shortcut icon" href="../static/images/favicon.ico"/>
</head>
<body>


<!--引入头部导航-->
    <nav  th:replace="copy :: menu(5)" class="ui attached segment m-padded-tb-mini m-shadow-small" ></nav>

<!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="http://p4.qhimg.com/bdm/1000_618_80/t01e12870371770e717.jpg" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">关于我</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">灵空，一个独立开发者，折腾在 0 和 1 世界；一个终身学习者，誓将学习无限循环. 希望结识可以共同成长的小伙伴.</p>
            <p class="m-text">热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
          </div>
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label">编程</div>
            <div class="ui orange basic left pointing label">旅游</div>
            <div class="ui orange basic left pointing label">动漫</div>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">git</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">SSM</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">Semantic-UI</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="1597822458" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>

    </div>
  </div>

  <br>
  <br>

<!--引入底部-->
<div th:include="copy :: copyFooter"></div>

</body>
</html>