<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>灵空的记忆|博客标签</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
  <link rel="shortcut icon" href="../static/images/favicon.ico"/>
</head>
<body>

<!--引入头部导航-->
<nav  th:replace="copy :: menu(3)" class="ui attached segment m-padded-tb-mini m-shadow-small" ></nav>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <!--header-->
      <div class="ui top attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <h3 class="ui teal header">标签</h3>
          </div>
          <div class="right aligned column">
            共 <h2 class="ui orange header m-inline-block m-text-thin"> 3 </h2> 个
          </div>
        </div>
      </div>

      <div class="ui attached segment m-padded-tb-large">
        <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-tiny">
          心得 <div class="detail">4</div>
        </a>
        <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
          学习资料 <div class="detail">22</div>
        </a>
        <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
          黑科技 <div class="detail">9</div>
        </a>
      </div>

      <div class="ui top attached teal segment">

        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
              <div class="ui stackable grid">
                <div class="row">
                  <div class="eleven wide column">
                    <div class="ui mini horizontal link list">
                      <div class="item">
                        <img src="http://p4.qhimg.com/bdm/1000_618_80/t01e12870371770e717.jpg" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">灵空</a></div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i> 2020-05-21
                      </div>
                      <div class="item">
                        <i class="eye icon"></i> 518
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="/blog" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">查看详情</a>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <a href="#" class="ui  basic teal left pointing label m-padded-mini m-text-thin">心得</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>

        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
              <div class="ui stackable grid">
                <div class="row">
                  <div class="eleven wide column">
                    <div class="ui mini horizontal link list">
                      <div class="item">
                        <img src="http://p4.qhimg.com/bdm/1000_618_80/t01e12870371770e717.jpg" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">灵空</a></div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i> 2020-05-21
                      </div>
                      <div class="item">
                        <i class="eye icon"></i> 153
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="/blog" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">查看详情</a>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <a href="#" class="ui  basic teal left pointing label m-padded-mini m-text-thin">心得</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>

        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
              <div class="ui stackable grid">
                <div class="row">
                  <div class="eleven wide column">
                    <div class="ui mini horizontal link list">
                      <div class="item">
                        <img src="http://p4.qhimg.com/bdm/1000_618_80/t01e12870371770e717.jpg" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">灵空</a></div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i> 2020-05-21
                      </div>
                      <div class="item">
                        <i class="eye icon"></i> 365
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="blog" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">查看详情</a>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <a href="#" class="ui  basic teal left pointing label m-padded-mini m-text-thin">心得</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>

        <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
          <div class="ui mobile reversed stackable grid">
            <div class="eleven wide column">
              <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
              <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
              <div class="ui stackable grid">
                <div class="row">
                  <div class="eleven wide column">
                    <div class="ui mini horizontal link list">
                      <div class="item">
                        <img src="http://p4.qhimg.com/bdm/1000_618_80/t01e12870371770e717.jpg" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">灵空</a></div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i> 2020-05-21
                      </div>
                      <div class="item">
                        <i class="eye icon"></i> 135
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">查看详情</a>
                  </div>
                </div>
                <div class="row">
                  <div class="column">
                    <a href="#" class="ui  basic teal left pointing label m-padded-mini m-text-thin">心得</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <a href="#" target="_blank">
                <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded image">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="ui bottom attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
            <a href="#" class="ui mini teal basic button">上一页</a>
          </div>
          <div class="right aligned column">
            <a href="#" class="ui mini teal basic button">下一页</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>

<!--引入底部-->
<div th:include="copy :: copyFooter"></div>

</body>
</html>